@model IEnumerable<CarsPartsReconstruccion.Models.SupplierPart>

@{
    ViewBag.Title = "Suppliers List";
}

<h2>@ViewBag.Title for "@ViewBag.PartName"</h2>
<h2>Reference Price: @ViewBag.PartPrice</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { supplierId = ViewBag.SupplierId })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.supplierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.existence)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Supplier.supplierName,
                "Index", "SupplierPart", new { supplierId = item.supplierId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.existence)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to Pieces", "Index", "Part")
</p>