@model IEnumerable<CarsPartsReconstruccion.Models.Piece>

@{
    ViewBag.Title = "Pieces List";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="ItemsListTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pieceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.piecePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageSuppliersPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pieceDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pieceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.piecePrice)
            </td>
            @if (item.piecePrice > item.AverageSuppliersPrice)
            {
                <td style="color: green; background-color: #fbfaeb; ">
                    @Html.DisplayFor(modelItem => item.AverageSuppliersPrice)
                </td>
            }
            else if (item.piecePrice < item.AverageSuppliersPrice)
            {
                <td style="color: red; background-color:#fbfaeb">
                    @Html.DisplayFor(modelItem => item.AverageSuppliersPrice)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.AverageSuppliersPrice)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.pieceDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.pieceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.pieceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.pieceId })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to Catalogs", "Catalogs", "Home")
</p>