@model IEnumerable<CarsPartsReconstruccion.Models.Supplier>

@{
    ViewBag.Title = "Suppliers List";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="ItemsListTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.supplierName)
        </th>
        <th>
            Parts & Pieces
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplierEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idRepresentative)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.ActionLink(item.supplierName, "Index", "SupplierPart", new { supplierId = item.supplierId },
                    new { title = "Parts List in \"" + item.supplierName + "\"" })*@

                @Html.DisplayFor(modelItem => item.supplierName)
            </td>
            <td>
                @Html.ActionLink("Parts", "Index", "SupplierPart", new { supplierId = item.supplierId },
                new { title = "Parts List in \"" + item.supplierName + "\"" })

                @Html.ActionLink("Pieces", "Index", "SupplierPiece", new { supplierId = item.supplierId },
                new { title = "Parts List in \"" + item.supplierName + "\"" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.employeeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.supplierId })|
                @Html.ActionLink("Details", "Details", new { id = item.supplierId })|
                @Html.ActionLink("Delete", "Delete", new { id = item.supplierId })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to Catalogs", "Catalogs", "Home")
</p>