@model CarsPartsReconstruccion.Models.Catalog

@{
    ViewBag.Title = "Delete a " + @Model.catalogName; 
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<p></p>

<fieldset class="fieldsetTable">
    <legend>Catalog</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.catalogName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.catalogName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.catalogValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.catalogValue)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.parentCatalog)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Catalog2.catalogValue)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", new { catalogName = Model.catalogName })
    </p>
}
