@model IEnumerable<CarsPartsReconstruccion.Models.ReplacedPart>

@*@{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table>
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.ServiceCar.serviceCarDescription)
            </th>*@
        <td></td>
        <th>
            @Html.DisplayNameFor(model => model.supplierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.servicePartId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.replacedPartPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusId)
        </th>
        @*<th>
                    @Html.DisplayNameFor(model => model.observations)
                </th>
            <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ServiceCar.serviceCarDescription)
                </td>*@
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierPart.Supplier.supplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierPart.Part.partName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePart.Part.partName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.replacedPartPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catalog.catalogValue)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.observations)
                </td>
                <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.replacedPartId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.replacedPartId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.replacedPartId })
                    </td>*@
        </tr>
    }

</table>
