@model CarsPartsReconstruccion.Models.ReplacedPart

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ReplacedPart</legend>

        @Html.HiddenFor(model => model.replacedPartId)

        <div class="editor-label">
            @Html.LabelFor(model => model.serviceCarId, "ServiceCar")
        </div>
        <div class="editor-field">
            @Html.DropDownList("serviceCarId", String.Empty)
            @Html.ValidationMessageFor(model => model.serviceCarId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.supplierId, "SupplierPart")
        </div>
        <div class="editor-field">
            @Html.DropDownList("supplierId", String.Empty)
            @Html.ValidationMessageFor(model => model.supplierId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.partId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.partId)
            @Html.ValidationMessageFor(model => model.partId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.servicePartId, "ServicePart")
        </div>
        <div class="editor-field">
            @Html.DropDownList("servicePartId", String.Empty)
            @Html.ValidationMessageFor(model => model.servicePartId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.replacedPartPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.replacedPartPrice)
            @Html.ValidationMessageFor(model => model.replacedPartPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.statusId, "Catalog")
        </div>
        <div class="editor-field">
            @Html.DropDownList("statusId", String.Empty)
            @Html.ValidationMessageFor(model => model.statusId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.observations)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.observations)
            @Html.ValidationMessageFor(model => model.observations)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
