@model CarsPartsReconstruccion.Models.SupplierPiece

@{
    ViewBag.Title = "Add a Piece";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SupplierPiece</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.supplierId, "Supplier")
        </div>
        <div class="editor-field">
            @Html.DropDownList("supplierId", String.Empty)
            @Html.ValidationMessageFor(model => model.supplierId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pieceId, "Piece")
        </div>
        <div class="editor-field">
            @Html.DropDownList("pieceId", String.Empty)
            @Html.ValidationMessageFor(model => model.pieceId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.existence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.existence)
            @Html.ValidationMessageFor(model => model.existence)
        </div>

        <p>
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { SupplierId = Model.supplierId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
