@model CarsPartsReconstruccion.Models.SupplierPiece

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SupplierPiece</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Supplier.supplierName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Supplier.supplierName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Piece.pieceName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Piece.pieceName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.existence)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.existence)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", new { SupplierId = Model.supplierId })
    </p>
}
