@model CarsPartsReconstruccion.Models.SupplierPiece

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SupplierPiece</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Supplier.supplierName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Supplier.supplierName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Piece.pieceName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Piece.pieceName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.existence)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.existence)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { supplierId = Model.supplierId, partId = Model.pieceId }) |
    @Html.ActionLink("Back to List", "Index", new { SupplierId = Model.supplierId })
</p>
