@model IEnumerable<CarsPartsReconstruccion.Models.SupplierPiece>

@{
    ViewBag.Title = "Suppliers List";
}

<h2>@ViewBag.Title for "@ViewBag.PieceName"</h2>
<h2>Reference Price: @ViewBag.PiecePrice</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.supplierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.existence)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*   @Html.DisplayFor(modelItem => item.Supplier.supplierName)*@
                @Html.ActionLink(item.Supplier.supplierName,
                "Index", "SupplierPiece", new { supplierId = item.supplierId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.existence)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to Pieces", "Index", "Piece")
</p>