@model IEnumerable<CarsPartsReconstruccion.Models.SupplierPiece>

@{
    ViewBag.Title = "Pieces List";
    int CarPartReconstructionId = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CarPartReconstructionId"]);
}

<h2>@ViewBag.Title in "@ViewBag.SupplierName"</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { supplierId = ViewBag.SupplierId })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pieceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageSuppliersPrice)
        </th>
        @if (ViewBag.SupplierId == CarPartReconstructionId)
        {
            <th>
                @Html.DisplayNameFor(model => model.Piece.piecePrice)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.existence)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Piece.pieceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            @if (item.price > item.AverageSuppliersPrice)
            {
                <td style="color: green; background-color: #fbfaeb; ">
                    @Html.DisplayFor(modelItem => item.AverageSuppliersPrice)
                </td>
            }
            else if (item.price < item.AverageSuppliersPrice)
            {
                <td style="color: red; background-color:#fbfaeb">
                    @Html.DisplayFor(modelItem => item.AverageSuppliersPrice)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.AverageSuppliersPrice)
                </td>
            }
            @if (ViewBag.SupplierId == CarPartReconstructionId)
            {
                if (item.price > item.Piece.piecePrice)
                {
                    <td style="color: green; background-color: #fbfaeb; ">
                        @Html.DisplayFor(modelItem => item.Piece.piecePrice)
                    </td>
                }
                else if (item.price < item.AverageSuppliersPrice)
                {
                    <td style="color: red; background-color:#fbfaeb">
                        @Html.DisplayFor(modelItem => item.Piece.piecePrice)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Piece.piecePrice)
                    </td>
                }

            }
            <td>
                @Html.DisplayFor(modelItem => item.existence)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { supplierId = item.supplierId, pieceId = item.pieceId }) |
                @Html.ActionLink("Details", "Details", new { supplierId = item.supplierId, pieceId = item.pieceId }) |
                @Html.ActionLink("Delete", "Delete", new { supplierId = item.supplierId, pieceId = item.pieceId })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to Suppliers", "Index", "Supplier")
</p>