@model IEnumerable<CarsPartsReconstruccion.Models.Part>

@{
    ViewBag.Title = "Parts List";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="ItemsListTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.partName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageSuppliersPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.partName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.partPrice)
            </td>
            @if (item.partPrice > item.AverageSuppliersPrice)
            {
                <td style="color: green; background-color: #fbfaeb; ">
                    @Html.DisplayFor(modelItem => item.AverageSuppliersPrice)
                </td>
            }
            else if (item.partPrice < item.AverageSuppliersPrice)
            {
                <td style="color: red; background-color:#fbfaeb">
                    @Html.DisplayFor(modelItem => item.AverageSuppliersPrice)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.AverageSuppliersPrice)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.partDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.partId }) |
                @Html.ActionLink("Details", "Details", new { id = item.partId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.partId })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to Catalogs", "Catalogs", "Home")
</p>