@model CarsPartsReconstruccion.Models.ServicePart

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ServicePart</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Service.serviceDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Service.serviceDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Part.partName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Part.partName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estimatedPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estimatedPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.realPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.realPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.servicePartDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.servicePartDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Catalog.catalogValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Catalog.catalogValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.observations)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.observations)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
